<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>D1.07 | Calendar</title>

  <!--  Stylesheets  -->
  <link rel="stylesheet" type="text/css" href="/static/css/main.css">
  <link rel="stylesheet" type="text/css" href="/static/css/calendar.css">

  <!--  Scripts  -->
  <script src="/static/js/libs/jquery-3.6.3.min.js"></script>
  <script src="/static/js/libs/luxon-2.5.2.min.js"></script>
  <script src="/static/js/libs/fullcalendar/fullcalendar-6.1.7.min.js"></script>
  <script src="/static/js/libs/fullcalendar/luxon2-connector/index.global.min.js"></script>
  <script src="/static/js/calendar.js"></script>

  <!--  Website icons  -->
  <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
  <link rel="manifest" href="/static/favicon/site.webmanifest">
</head>
<body>

<header th:replace="~{fragments :: navbar('calendar')}"></header>

<section id="modal-section">
  <span class="overlay"></span>
  <div class="modal-box">
    <div id="modal-header">
      <span id="modal-event-title"></span>
      <span id="modal-event-time"></span>
      <button class="modal-close-btn"></button>
    </div>
    <div id="modal-body">
      <div class="modal-body-row">
        <span>Groups:</span>
        <div id="modal-event-groups"></div>
      </div>
      <div class="modal-body-row">
        <span>Lecturers:</span>
        <div id="modal-event-lecturers"></div>
      </div>
      <div class="modal-body-row">
        <span >Rooms:</span>
        <div id="modal-event-rooms"></div>
      </div>
    </div>
  </div>
  <div id="calendar"></div>
  <div id="update-note"></div>
</section>

</body>
</html>
