<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>D1.07 | Fragments</title>

  <!--  Stylesheets  -->
  <link rel="stylesheet" type="text/css" href="/static/css/index.css">

  <!--  Website icons  -->
  <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
  <link rel="manifest" href="/static/favicon/site.webmanifest">
</head>
<body>
<header class="inner navbar" th:fragment="navbar(active_page)">
  <a th:href="@{'/'}" th:classappend="${active_page == 'home'} ? 'active'">Home</a>
  <a th:href="@{'calendar'}" th:classappend="${active_page == 'calendar'} ? 'active'">Calendar</a>
<!--  <a th:href="@{'wiki'}" th:classappend="${active_page == 'wiki'} ? 'active'">Wiki</a>-->
  <a th:href="@{'bioinf-clicker'}" th:classappend="${active_page == 'bioinf-clicker'} ? 'active'">Bioinf-Clicker</a>
</header>
</body>
</html>
