<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>D1.07</title>

    <!--  Stylesheets  -->
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">

    <!--  Website icons  -->
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/favicon/site.webmanifest">
</head>
<body>
<script src="/static/js/index.js"></script>
    <div style="text-align: center">
        <h1>U heeft D1.07 betreden!</h1>
        <h2>Mooiste lokaal van de Hanze!</h2>
        <h3>HUTS!</h3>
        <img  alt="plopkoek" src="../../static/image/plopkoek.webp" style="width: 100px;">
    </div>
</body>
</html>