<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>D1.07 | Secret Bioinf-Clicker</title>

  <!--  Stylesheets  -->
  <link rel="stylesheet" type="text/css" href="/static/css/main.css">

  <!--  Website icons  -->
  <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
  <link rel="manifest" href="/static/favicon/site.webmanifest">
</head>
<body>
<header th:replace="~{fragments :: navbar('bioinf-clicker')}"></header>

<iframe src="https://orteil.dashnet.org/igm/?g=https://www.d107.nl/bioinf-clicker/secret-bioinf-clicker.txt"
        style="border:none; position:fixed; top:50px; left:0; bottom:0; right:0; width:100%; height:calc(100% - 50px); border:none; margin:0; padding:0; overflow:hidden; z-index:999999;"></iframe>
</body>
</html>
