#calendar {
    height: 90vh;
    padding: 0 25px 10px 25px;
}
#room-select {
    display: inline-block;
    height: 36px;
    padding: 0 20px 0 10px;
    font-weight: bold;
}
#update-note {
    margin: 0 0 0 25px;
}
#last-update-time {
    text-decoration: underline;
}

/*  Row heights  */
.fc-col-header {
    height: 2.75em !important;
    border-bottom: 0 !important;
}
.fc .fc-toolbar.fc-header-toolbar {
    margin-top: 1.5em !important;
    margin-bottom: 1.5em !important;
}
.fc-timegrid-slot {
    height: 1.75em !important;
    border-bottom: 0 !important;
}

/*  Event styling  */
.fc-event {
    padding: 5px !important;
}
/*.fc-event-past {*/
/*    border-color: #888888 !important;*/
/*    background-color: #888888 !important;*/
/*}*/
.fc-event-time {
    font-size: 0.95em !important;
}
.fc-event-title {
    font-size: 1.10em !important;
    font-weight: bold !important;
}
.event-group {
    margin-bottom: 0.66em;
}
.event-lecturers {
    display: flex;
    flex-direction: column;
}

@media (max-width: 1200px) {
    .fc-event-time {
        font-size: 0.85em !important;
    }
    .fc-event-title {
        font-size: 1.05em !important;
    }
    .event-group {
        font-size: 0.95em !important;
    }
    .event-lecturers {
        font-size: 0.95em !important;
    }
}
@media (max-width: 800px) {
    .fc-event-time {
        font-size: 0.80em !important;
    }
    .fc-event-title {
        font-size: 1.00em !important;
    }
    .event-group {
        font-size: 0.80em !important;
        margin-bottom: 0.50em !important;
    }
    .event-lecturers {
        font-size: 0.85em !important;
    }
}
@media (max-width: 600px) {
    .fc-event-time {
        font-size: 0.75em !important;
    }
    .fc-event-title {
        font-size: 0.95em !important;
    }
    .event-group {
        font-size: 0.85em !important;
    }
    .event-lecturers {
        font-size: 0.75em !important;
    }
}
